<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav class="sidenav">
    <mat-toolbar color="primary" class="mat-elevation-z2">
        {{ (facade.user$ | async)?.name || 'Catalog.fm' }}
    </mat-toolbar>

    <app-menu-resources
      [menuControl]="true"
      (closeMenu)="sidenav.close()">

      <mat-divider></mat-divider>

      <mat-list-item *ngIf="facade.user$ | async; else login" (click)="facade.logout(); sidenav.close()">
        <h3 matLine>Logout</h3>
      </mat-list-item>

      <ng-template #login>
        <mat-list-item [routerLink]="['/auth']" (click)="sidenav.close()">
          <h3 matLine>Login</h3>
        </mat-list-item>
      </ng-template>

    </app-menu-resources>

  </mat-sidenav>

  <mat-sidenav-content>
    <app-menu-header [sidenav]="sidenav"></app-menu-header>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
